In [1]:
import pandas as pd

import sys
import os

# Dodaj katalog główny projektu do sys.path
sys.path.append(os.path.abspath("test"))

# Teraz możesz zaimportować
from transform import *

In [2]:
processed_data = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\test\output\raw_charts_viral50_20250604_213838.csv')
processed_data2 = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\test\output\raw_charts_top200_20250604_211743.csv')
processed_data.head()

,track_name,rank,date,artist_name,region,chart_type,position_change,weeks_on_chart,peak_position,previous_rank,source_type,track_id,duration,explicit,artist_id,genres,artist_count,release_date,country,type
0,#BrooklynBloodPop!,7,2021-05-17,SyKo,Argentina,viral50,SAME_POSITION,9,5,NaN,charts_viral50,5tDbyeaCvxjNCBcupQucGo,145.612,True,08ZqXO40nMrhBoGma4kls2,"[""hyperpop""]",1.0,2020-07-27,Seattle,Person
1,#BrooklynBloodPop!,5,2021-05-24,SyKo,Argentina,viral50,MOVE_UP,9,5,7.0,charts_viral50,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person
2,#BrooklynBloodPop!,11,2021-05-31,SyKo,Argentina,viral50,MOVE_DOWN,9,5,5.0,charts_viral50,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person
3,#BrooklynBloodPop!,13,2021-06-07,SyKo,Argentina,viral50,MOVE_DOWN,9,5,11.0,charts_viral50,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person
4,#BrooklynBloodPop!,16,2021-06-14,SyKo,Argentina,viral50,MOVE_DOWN,9,5,13.0,charts_viral50,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person

In [3]:
processed_data = ChartPreprocessor().transform(processed_data)

In [4]:
processed_data.head()

,track_name,rank,date,artist_name,region,chart_type,position_change,weeks_on_chart,peak_position,previous_rank,...,track_id,duration,explicit,artist_id,genres,artist_count,release_date,country,type,spotify_track_id
0,#BrooklynBloodPop!,7,2021-05-17,SyKo,Argentina,viral50,SAME_POSITION,9,5,NaN,...,5tDbyeaCvxjNCBcupQucGo,145.612,True,08ZqXO40nMrhBoGma4kls2,"[""hyperpop""]",1.0,2020-07-27,Seattle,Person,5tDbyeaCvxjNCBcupQucGo
1,#BrooklynBloodPop!,5,2021-05-24,SyKo,Argentina,viral50,MOVE_UP,9,5,7.0,...,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person,5tDbyeaCvxjNCBcupQucGo
2,#BrooklynBloodPop!,11,2021-05-31,SyKo,Argentina,viral50,MOVE_DOWN,9,5,5.0,...,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person,5tDbyeaCvxjNCBcupQucGo
3,#BrooklynBloodPop!,13,2021-06-07,SyKo,Argentina,viral50,MOVE_DOWN,9,5,11.0,...,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person,5tDbyeaCvxjNCBcupQucGo
4,#BrooklynBloodPop!,16,2021-06-14,SyKo,Argentina,viral50,MOVE_DOWN,9,5,13.0,...,5tDbyeaCvxjNCBcupQucGo,NaN,NaN,08ZqXO40nMrhBoGma4kls2,NaN,NaN,NaN,Seattle,Person,5tDbyeaCvxjNCBcupQucGo

In [5]:
date_dim_processor = DateDimension(processed_data, date_columns=['date', 'release_date'])
dim_date = date_dim_processor.transform()

region_dim_processor = RegionDimension(processed_data, region_column='region')
dim_region = region_dim_processor.transform()


artist_dim_processor = ArtistDimension(processed_data)
dim_artist = artist_dim_processor.transform()

track_dim_processor = TrackDimension(processed_data, date_dim = dim_date)
dim_track = track_dim_processor.transform()

c:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\test\transform\transform.py:213: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['explicit'] = df['explicit'].fillna(False).astype(bool)

In [6]:
dim_date

,date_id,year,month,day,day_of_week,quarter,season,week_of_year,is_holiday,is_weekend,date,holiday_name
0,1,2021,5,17,Monday,2,Spring,20,False,False,2021-05-17,None
1,2,2021,5,24,Monday,2,Spring,21,False,False,2021-05-24,None
2,3,2021,5,31,Monday,2,Spring,22,True,False,2021-05-31,Memorial Day
3,4,2021,6,7,Monday,2,Summer,23,False,False,2021-06-07,None
4,5,2021,6,14,Monday,2,Summer,24,False,False,2021-06-14,None
...,...,...,...,...,...,...,...,...,...,...,...,...
31,61,1999,10,29,Friday,4,Autumn,43,False,False,1999-10-29,None
32,62,2020,7,10,Friday,3,Summer,28,False,False,2020-07-10,None
35,63,2018,2,16,Friday,1,Winter,7,False,False,2018-02-16,None
46,64,2018,7,20,Friday,3,Summer,29,False,False,2018-07-20,None
49,65,2017,5,5,Friday,2,Spring,18,False,False,2017-05-05,None

In [7]:
dim_region

,region_id,region_name,region_code,region_population,region_language,region_continent,is_current,valid_from,valid_to
0,1,Argentina,ARG,45538401,Spanish,South America,True,2000-01-01,2099-12-31

In [8]:
dim_artist

,artist_id,artist_spotify_id,artist_name,artist_genre,artist_country,artist_type
0,1,08ZqXO40nMrhBoGma4kls2,SyKo,hyperpop,Seattle,Person
9,2,7K9rdoOJSiKXoVXPlSkGKT,Paty Cantú,latin pop,Mexico,Person
12,3,5iB9AOsC0IyhPYES06AYo0,BMW Kenny,Unknown,Unknown,Person
13,4,2qWK8K2Jfh67UqtwY8tCW6,YSY A,argentine trap,Argentina,Person
17,5,2AfmfGFbe0A0WsTYm0SDTx,i-dle,k-pop,South Korea,Group
18,6,4bXUaTjc7TQTvLqqCAlfYt,Jack Back,tech house,United States,Person
19,7,7nwUJBm0HE4ZxD3f5cy5ok,Aretha Franklin,soul,United States,Person
20,8,2sSqkk6j5gRa7MzeQqMfIN,Covi Quintana,Unknown,Unknown,Person
21,9,7eLcDZDYHXZCebtQmVFL25,Aitana,Unknown,Spain,Person
28,10,06HL4z0CvFAxyc27GXpf02,Taylor Swift,Unknown,United States,Person
30,11,01nUdqwuIHCHLZNP2TvYVF,Boy Wonder CF,reggaeton,Unknown,Unknown
31,12,6EVyI0S0b1Ld2nm37m5x85,Raffaella Carrà,Unknown,Italy,Person
32,13,68nJ4J8L6X6HZNTuZ9e7yT,SACRE,nu disco,Unknown,Person
33,14,0ghlgldX5Dd6720Q3qFyQB,TOMORROW X TOGETHER,k-pop,South Korea,Group
35,15,0haZhu4fFKt0Ag94kZDiz2,Sofía Reyes,latin pop,Mexico,Person
46,16,20j1uz7iDOtIvIzCr5S8nx,SEUNGRI,k-pop,Unknown,Unknown
49,17,4xRYI6VqpkE3UwrDrAZL8L,Logic,Unknown,United States,Person

In [9]:
dim_track

,track_id,track_name,artist_name,artist_count,duration,explicit,spotify_track_id,release_date_key,release_date
0,1,#BrooklynBloodPop!,SyKo,1,145.612,True,5tDbyeaCvxjNCBcupQucGo,47,2020-07-27
1,2,#Natural,Paty Cantú,2,227.266,False,3y7XIu4NloDcCSekDbCvf6,48,2018-05-25
2,3,#WIPEITDOWN (TikTok Classics Version),BMW Kenny,2,135.317,False,5qOE3kEU14vcc6OUDkgKkv,49,2022-08-12
3,4,#Ysya2020 Vol. 1 - Una de Dos,YSY A,2,116.599,False,7nFta4LZyL0MTDDqbjiQW2,50,2020-06-22
4,5,#Ysya2020 Vol. 4 - Pasa Que Yo,YSY A,2,100.365,False,7qf15ZBTnAyOZX5UIWrsKj,51,2020-10-11
5,6,#Ysya2020 Vol. 5 - Silbando,YSY A,2,119.438,False,6TI490muJ6RgFsYJc626BZ,52,2020-10-18
6,7,#Ysya2020 Vol. 6 - Un Flow de Infarto,YSY A,2,142.376,False,2byu6eeLWaBq88ZtusqU4V,53,2020-10-26
7,8,Good Thing,i-dle,1,154.386,False,6d8DgvFxp6lbdfOw9BVkLS,54,2025-05-19
8,9,(It Happens) Sometimes,Jack Back,1,202.276,False,4psxV3oAIDBXKL2oS9KcFq,55,2018-08-31
9,10,(You Make Me Feel Like) A Natural Woman,Aretha Franklin,1,165.333,False,5K09WxKdlkroDyEVyOSySy,56,1968-01-22
10,11,(no me despegues tu boca),Covi Quintana,1,220.840,False,2j0KnNhlO9lY1EWPOkblK3,57,2021-05-21
11,12,+ (MÁS),Aitana,2,219.354,False,1MXzojJav1N4cREWTFm1iZ,58,2020-12-10
12,13,...Ready For It?,Taylor Swift,1,208.186,False,2yLa0QULdQr0qAIvVwN6B5,59,2017-11-10
13,14,"0 Sentimientos (Remix) [feat. Baby Rasta, Dark...",Boy Wonder CF,8,335.736,False,3gYco8uoFBmpxqYlz3Zhs7,60,2023-11-21
14,15,0303456 - 1999 vrs,Raffaella Carrà,1,199.920,False,1TtHlaxGzDhyF2GyX8dqWV,61,1999-10-29
15,16,06:00AM CHILDREN OF THE SUN,SACRE,1,225.693,False,5BLWG0gtrci22tCyPu2bsP,62,2020-07-10
16,17,0X1=LOVESONG (I Know I Love You) feat. Seori,TOMORROW X TOGETHER,2,202.203,False,1Z8TPHiKeCUyClxV6WTTIf,3,2021-05-31
18,18,"1, 2, 3 (feat. Jason Derulo & De La Ghetto)",Sofía Reyes,3,201.526,False,4QtiVmuA88tPQiCOHZuQ5b,63,2018-02-16
19,19,"1, 2, 3!",SEUNGRI,1,205.304,False,3EyJd7XKw4lrIZXQboMDbv,64,2018-07-20
20,20,1-800-273-8255,Logic,3,250.173,True,5tz69p7tJuGPeMGwNTxYuV,65,2017-05-05

In [10]:
fact_chart = FactChart(processed_data, dim_track, dim_artist, dim_date, dim_region)
fact_df = fact_chart.transform()

Kolumny po merge z dim_track: ['track_name_x', 'rank', 'date', 'artist_name_x', 'region', 'chart_type', 'position_change', 'weeks_on_chart', 'peak_position', 'previous_rank', 'source_type', 'track_id_x', 'duration', 'explicit', 'artist_id_x', 'genres', 'artist_count', 'release_date_x', 'country', 'type', 'spotify_track_id', 'track_name_y', 'artist_name_y', 'release_date_y', 'track_key', 'artist_id_y', 'artist_spotify_id', 'chart_date', 'date_key', 'region_key', 'region_name']

In [11]:
fact_df

,chart_id,track_key,artist_key,date_key,region_key,source_type,chart_type,rank,weeks_on_chart,peak_position,position_change,days_since_release,weeks_since_release,months_since_release
0,1,1,1,1,1,charts_viral50,viral50,7,9,5,-7,294,42,10
1,2,1,1,2,1,charts_viral50,viral50,5,9,5,2,301,43,10
2,3,1,1,3,1,charts_viral50,viral50,11,9,5,-6,308,44,10
3,4,1,1,4,1,charts_viral50,viral50,13,9,5,-2,315,45,11
4,5,1,1,5,1,charts_viral50,viral50,16,9,5,-3,322,46,11
5,6,1,1,6,1,charts_viral50,viral50,18,9,5,-2,329,47,11
6,7,1,1,7,1,charts_viral50,viral50,39,9,5,-21,336,48,11
7,8,1,1,8,1,charts_viral50,viral50,36,9,5,3,343,49,12
8,9,1,1,9,1,charts_viral50,viral50,46,9,5,-10,350,50,12
9,10,2,2,10,1,charts_viral50,viral50,22,3,12,-22,0,0,0
10,11,2,2,11,1,charts_viral50,viral50,12,3,12,10,0,0,0
11,12,2,2,12,1,charts_viral50,viral50,27,3,12,-15,0,0,0
12,13,3,3,13,1,charts_viral50,viral50,43,1,43,-43,0,0,0
13,14,4,4,14,1,charts_viral50,viral50,32,1,32,-32,21,3,1
14,15,5,4,15,1,charts_viral50,viral50,28,1,28,-28,22,3,1
15,16,6,4,16,1,charts_viral50,viral50,43,1,43,-43,29,4,1
16,17,7,4,16,1,charts_viral50,viral50,22,1,22,-22,21,3,1
17,18,8,5,17,1,charts_viral50,viral50,42,1,42,-42,0,0,0
18,19,9,6,18,1,charts_viral50,viral50,25,1,25,-25,24,3,1
19,20,10,7,19,1,charts_viral50,viral50,31,1,31,-31,18473,2639,607
20,21,11,8,20,1,charts_viral50,viral50,49,1,49,-49,0,0,0
21,22,12,9,21,1,charts_viral50,viral50,25,7,25,-25,0,0,0
22,23,12,9,22,1,charts_viral50,viral50,25,7,25,0,0,0,0
23,24,12,9,23,1,charts_viral50,viral50,44,7,25,-19,0,0,0
24,25,12,9,24,1,charts_viral50,viral50,46,7,25,-2,0,0,0
25,26,12,9,25,1,charts_viral50,viral50,42,7,25,4,0,0,0
26,27,12,9,26,1,charts_viral50,viral50,50,7,25,-8,0,0,0
27,28,12,9,27,1,charts_viral50,viral50,49,7,25,1,0,0,0
28,29,13,10,28,1,charts_viral50,viral50,1,2,1,-1,0,0,0
29,30,13,10,29,1,charts_viral50,viral50,10,2,1,-9,0,0,0
30,31,14,11,30,1,charts_viral50,viral50,7,1,7,-7,0,0,0
31,32,15,12,9,1,charts_viral50,viral50,36,1,36,-36,7927,1132,261
32,33,16,13,31,1,charts_viral50,viral50,49,1,49,-49,0,0,0
33,34,17,14,7,1,charts_viral50,viral50,27,1,27,-27,28,4,1
34,35,17,14,6,1,charts_viral50,viral50,26,1,26,-26,21,3,1
35,36,18,15,32,1,charts_viral50,viral50,3,11,1,-3,3,0,0
36,37,18,15,33,1,charts_viral50,viral50,1,11,1,2,10,1,0
37,38,18,15,34,1,charts_viral50,viral50,9,11,1,-8,17,2,1
38,39,18,15,35,1,charts_viral50,viral50,15,11,1,-6,24,3,1
39,40,18,15,36,1,charts_viral50,viral50,16,11,1,-1,31,4,1
40,41,18,15,37,1,charts_viral50,viral50,16,11,1,0,38,5,1
41,42,18,15,38,1,charts_viral50,viral50,10,11,1,6,45,6,2
42,43,18,15,39,1,charts_viral50,viral50,17,11,1,-7,52,7,2
43,44,18,15,40,1,charts_viral50,viral50,21,11,1,-4,59,8,2
44,45,18,15,41,1,charts_viral50,viral50,34,11,1,-13,66,9,2
45,46,18,15,42,1,charts_viral50,viral50,33,11,1,1,73,10,2
46,47,19,16,43,1,charts_viral50,viral50,42,3,10,-42,3,0,0
47,48,19,16,44,1,charts_viral50,viral50,10,3,10,32,10,1,0
48,49,19,16,45,1,charts_viral50,viral50,27,3,10,-17,17,2,1
49,50,20,17,46,1,charts_viral50,viral50,20,3,17,-20,3,0,0

In [12]:
processed_data2 = ChartPreprocessor().transform(processed_data2)

In [13]:
processed_data2

,track_name,rank,date,artist_name,region,chart_type,position_change,weeks_on_chart,peak_position,previous_rank,...,spotify_track_id,duration,explicit,artist_id,genres,artist_count,release_date,track_id,country,type
0,#Ayfkm (Freestyle),200,2019-09-02,ECKO,Argentina,top200,NEW_ENTRY,1,200,NaN,...,4kTP0dh5AxnfpBLJINUqi7,115.017,True,2Jb9jVnCpWkXtoGznFJ6bF,"[""rkt"", ""turreo"", ""argentine trap"", ""trap""]",1.0,2019-08-30,NaN,NaN,NaN
1,#Natural,192,2017-12-11,Paty Cantú,Argentina,top200,MOVE_DOWN,14,52,NaN,...,3y7XIu4NloDcCSekDbCvf6,227.266,False,7K9rdoOJSiKXoVXPlSkGKT,"[""latin pop""]",2.0,2018-05-25,NaN,Mexico,Person
2,#Natural,166,2017-12-18,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,192.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
3,#Natural,188,2017-12-25,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,166.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
4,#Natural,183,2018-01-01,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,188.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
5,#Natural,52,2018-01-08,"Paty Cantú, Juhn",Argentina,top200,SAME_POSITION,14,52,183.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
6,#Natural,54,2018-01-15,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,52.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
7,#Natural,63,2018-01-22,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,54.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
8,#Natural,83,2018-01-29,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,63.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
9,#Natural,83,2018-02-05,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,83.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
10,#Natural,94,2018-02-12,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,83.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
11,#Natural,146,2018-02-19,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,94.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
12,#Natural,187,2018-02-26,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,146.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
13,#Natural,187,2018-03-05,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,187.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
14,#Natural,191,2018-03-12,"Paty Cantú, Juhn",Argentina,top200,NEW_ENTRY,14,52,187.0,...,NaN,NaN,NaN,7K9rdoOJSiKXoVXPlSkGKT,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,Mexico,Person
15,#Ysya2020 Vol. 1 - Una de Dos,167,2020-06-22,YSY A,Argentina,top200,NEW_ENTRY,4,99,NaN,...,7nFta4LZyL0MTDDqbjiQW2,116.599,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-06-22,NaN,Argentina,Person
16,#Ysya2020 Vol. 1 - Una de Dos,99,2020-06-29,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,167.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,Argentina,Person
17,#Ysya2020 Vol. 1 - Una de Dos,112,2020-07-06,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,99.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,Argentina,Person
18,#Ysya2020 Vol. 1 - Una de Dos,137,2020-07-13,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,112.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,Argentina,Person
19,#Ysya2020 Vol. 4 - Pasa Que Yo,117,2020-10-19,YSY A,Argentina,top200,NEW_ENTRY,4,93,NaN,...,7qf15ZBTnAyOZX5UIWrsKj,100.365,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-11,NaN,Argentina,Person
20,#Ysya2020 Vol. 4 - Pasa Que Yo,93,2020-10-26,"YSY A, Yesan 雪山",Argentina,top200,MOVE_UP,4,93,117.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,Argentina,Person
21,#Ysya2020 Vol. 4 - Pasa Que Yo,135,2020-11-02,"YSY A, Yesan 雪山",Argentina,top200,MOVE_UP,4,93,93.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,Argentina,Person
22,#Ysya2020 Vol. 4 - Pasa Que Yo,176,2020-11-09,"YSY A, Yesan 雪山",Argentina,top200,NEW_ENTRY,4,93,135.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,Argentina,Person
23,#Ysya2020 Vol. 5 - Silbando,76,2020-10-19,YSY A,Argentina,top200,NEW_ENTRY,5,68,NaN,...,6TI490muJ6RgFsYJc626BZ,119.438,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-18,NaN,Argentina,Person
24,#Ysya2020 Vol. 5 - Silbando,68,2020-10-26,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,76.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,Argentina,Person
25,#Ysya2020 Vol. 5 - Silbando,83,2020-11-02,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,68.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,Argentina,Person
26,#Ysya2020 Vol. 5 - Silbando,98,2020-11-09,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,83.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,Argentina,Person
27,#Ysya2020 Vol. 5 - Silbando,131,2020-11-16,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,98.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,Argentina,Person
28,#Ysya2020 Vol. 6 - Un Flow de Infarto,61,2020-10-26,YSY A,Argentina,top200,NEW_ENTRY,8,61,NaN,...,2byu6eeLWaBq88ZtusqU4V,142.376,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-26,NaN,Argentina,Person
29,#Ysya2020 Vol. 6 - Un Flow de Infarto,67,2020-11-02,"YSY A, Bizarrap",Argentina,top200,MOVE_UP,8,61,61.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
30,#Ysya2020 Vol. 6 - Un Flow de Infarto,77,2020-11-09,"YSY A, Bizarrap",Argentina,top200,MOVE_UP,8,61,67.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
31,#Ysya2020 Vol. 6 - Un Flow de Infarto,107,2020-11-16,"YSY A, Bizarrap",Argentina,top200,MOVE_UP,8,61,77.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
32,#Ysya2020 Vol. 6 - Un Flow de Infarto,186,2020-11-23,"YSY A, Bizarrap",Argentina,top200,NEW_ENTRY,8,61,107.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
33,#Ysya2020 Vol. 6 - Un Flow de Infarto,154,2020-11-30,"YSY A, Bizarrap",Argentina,top200,NEW_ENTRY,8,61,186.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
34,#Ysya2020 Vol. 6 - Un Flow de Infarto,195,2020-12-14,"YSY A, Bizarrap",Argentina,top200,NEW_ENTRY,8,61,154.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
35,#Ysya2020 Vol. 6 - Un Flow de Infarto,185,2021-02-01,"YSY A, Bizarrap",Argentina,top200,NEW_ENTRY,8,61,195.0,...,NaN,NaN,NaN,2qWK8K2Jfh67UqtwY8tCW6,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,Argentina,Person
36,+ (MÁS),179,2020-01-13,Aitana,Argentina,top200,NEW_ENTRY,33,84,NaN,...,1MXzojJav1N4cREWTFm1iZ,219.354,False,7eLcDZDYHXZCebtQmVFL25,[],2.0,2020-12-10,NaN,Spain,Person
37,+,174,2020-01-20,"Aitana, Cali Y El Dandee",Argentina,top200,NEW_ENTRY,33,84,179.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
38,+,159,2020-01-27,"Aitana, Cali Y El Dandee",Argentina,top200,NEW_ENTRY,33,84,174.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
39,+,149,2020-02-03,"Aitana, Cali Y El Dandee",Argentina,top200,NEW_ENTRY,33,84,159.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
40,+,129,2020-02-10,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,149.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
41,+,101,2020-02-17,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,129.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
42,+,112,2020-02-24,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,101.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
43,+,94,2020-03-02,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,112.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
44,+,84,2020-03-09,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,94.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
45,+,85,2020-03-16,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,84.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
46,+,107,2020-03-23,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,85.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
47,+,112,2020-03-30,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,107.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
48,+,119,2020-04-06,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,112.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person
49,+,124,2020-04-13,"Aitana, Cali Y El Dandee",Argentina,top200,MOVE_UP,33,84,119.0,...,NaN,NaN,NaN,7eLcDZDYHXZCebtQmVFL25,NaN,NaN,NaN,1MXzojJav1N4cREWTFm1iZ,Spain,Person

In [14]:
date_dim_processor = DateDimension(processed_data2, date_columns=['date', 'release_date'])
dim_date = date_dim_processor.transform()

region_dim_processor = RegionDimension(processed_data2, region_column='region')
dim_region = region_dim_processor.transform()


artist_dim_processor = ArtistDimension(processed_data2)
dim_artist = artist_dim_processor.transform()

track_dim_processor = TrackDimension(processed_data2, date_dim=dim_date)
dim_track = track_dim_processor.transform()

c:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\test\transform\transform.py:213: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['explicit'] = df['explicit'].fillna(False).astype(bool)

In [15]:
dim_date

,date_id,year,month,day,day_of_week,quarter,season,week_of_year,is_holiday,is_weekend,date,holiday_name
0,1,2019,9,2,Monday,3,Autumn,36,True,False,2019-09-02,Labor Day
1,2,2017,12,11,Monday,4,Winter,50,False,False,2017-12-11,None
2,3,2017,12,18,Monday,4,Winter,51,False,False,2017-12-18,None
3,4,2017,12,25,Monday,4,Winter,52,True,False,2017-12-25,Christmas Day
4,5,2018,1,1,Monday,1,Winter,1,True,False,2018-01-01,New Year's Day
5,6,2018,1,8,Monday,1,Winter,2,False,False,2018-01-08,None
6,7,2018,1,15,Monday,1,Winter,3,True,False,2018-01-15,Martin Luther King Jr. Day
7,8,2018,1,22,Monday,1,Winter,4,False,False,2018-01-22,None
8,9,2018,1,29,Monday,1,Winter,5,False,False,2018-01-29,None
9,10,2018,2,5,Monday,1,Winter,6,False,False,2018-02-05,None
10,11,2018,2,12,Monday,1,Winter,7,False,False,2018-02-12,None
11,12,2018,2,19,Monday,1,Winter,8,True,False,2018-02-19,Washington's Birthday
12,13,2018,2,26,Monday,1,Winter,9,False,False,2018-02-26,None
13,14,2018,3,5,Monday,1,Spring,10,False,False,2018-03-05,None
14,15,2018,3,12,Monday,1,Spring,11,False,False,2018-03-12,None
15,16,2020,6,22,Monday,2,Summer,26,False,False,2020-06-22,None
16,17,2020,6,29,Monday,2,Summer,27,False,False,2020-06-29,None
17,18,2020,7,6,Monday,3,Summer,28,False,False,2020-07-06,None
18,19,2020,7,13,Monday,3,Summer,29,False,False,2020-07-13,None
19,20,2020,10,19,Monday,4,Autumn,43,False,False,2020-10-19,None
20,21,2020,10,26,Monday,4,Autumn,44,False,False,2020-10-26,None
21,22,2020,11,2,Monday,4,Autumn,45,False,False,2020-11-02,None
22,23,2020,11,9,Monday,4,Autumn,46,False,False,2020-11-09,None
27,24,2020,11,16,Monday,4,Autumn,47,False,False,2020-11-16,None
32,25,2020,11,23,Monday,4,Autumn,48,False,False,2020-11-23,None
33,26,2020,11,30,Monday,4,Autumn,49,False,False,2020-11-30,None
34,27,2020,12,14,Monday,4,Winter,51,False,False,2020-12-14,None
35,28,2021,2,1,Monday,1,Winter,5,False,False,2021-02-01,None
36,29,2020,1,13,Monday,1,Winter,3,False,False,2020-01-13,None
37,30,2020,1,20,Monday,1,Winter,4,True,False,2020-01-20,Martin Luther King Jr. Day
38,31,2020,1,27,Monday,1,Winter,5,False,False,2020-01-27,None
39,32,2020,2,3,Monday,1,Winter,6,False,False,2020-02-03,None
40,33,2020,2,10,Monday,1,Winter,7,False,False,2020-02-10,None
41,34,2020,2,17,Monday,1,Winter,8,True,False,2020-02-17,Washington's Birthday
42,35,2020,2,24,Monday,1,Winter,9,False,False,2020-02-24,None
43,36,2020,3,2,Monday,1,Spring,10,False,False,2020-03-02,None
44,37,2020,3,9,Monday,1,Spring,11,False,False,2020-03-09,None
45,38,2020,3,16,Monday,1,Spring,12,False,False,2020-03-16,None
46,39,2020,3,23,Monday,1,Spring,13,False,False,2020-03-23,None
47,40,2020,3,30,Monday,1,Spring,14,False,False,2020-03-30,None
48,41,2020,4,6,Monday,2,Spring,15,False,False,2020-04-06,None
49,42,2020,4,13,Monday,2,Spring,16,False,False,2020-04-13,None
0,43,2019,8,30,Friday,3,Summer,35,False,False,2019-08-30,None
1,44,2018,5,25,Friday,2,Spring,21,False,False,2018-05-25,None
19,45,2020,10,11,Sunday,4,Autumn,41,False,True,2020-10-11,None
23,46,2020,10,18,Sunday,4,Autumn,42,False,True,2020-10-18,None
36,47,2020,12,10,Thursday,4,Winter,50,False,False,2020-12-10,None

In [16]:
dim_region

,region_id,region_name,region_code,region_population,region_language,region_continent,is_current,valid_from,valid_to
0,1,Argentina,ARG,45538401,Spanish,South America,True,2000-01-01,2099-12-31

In [17]:
dim_track

,track_id,track_name,artist_name,artist_count,duration,explicit,spotify_track_id,release_date_key,release_date
0,1,#Ayfkm (Freestyle),ECKO,1,115.017,True,4kTP0dh5AxnfpBLJINUqi7,43,2019-08-30
1,2,#Natural,Paty Cantú,2,227.266,False,3y7XIu4NloDcCSekDbCvf6,44,2018-05-25
2,3,#Ysya2020 Vol. 1 - Una de Dos,YSY A,2,116.599,False,7nFta4LZyL0MTDDqbjiQW2,16,2020-06-22
3,4,#Ysya2020 Vol. 4 - Pasa Que Yo,YSY A,2,100.365,False,7qf15ZBTnAyOZX5UIWrsKj,45,2020-10-11
4,5,#Ysya2020 Vol. 5 - Silbando,YSY A,2,119.438,False,6TI490muJ6RgFsYJc626BZ,46,2020-10-18
5,6,#Ysya2020 Vol. 6 - Un Flow de Infarto,YSY A,2,142.376,False,2byu6eeLWaBq88ZtusqU4V,21,2020-10-26
6,7,+ (MÁS),Aitana,2,219.354,False,1MXzojJav1N4cREWTFm1iZ,47,2020-12-10

In [18]:
dim_artist

,artist_id,artist_spotify_id,artist_name,artist_genre,artist_country,artist_type
0,1,2Jb9jVnCpWkXtoGznFJ6bF,ECKO,rkt,Unknown,Unknown
1,2,7K9rdoOJSiKXoVXPlSkGKT,Paty Cantú,latin pop,Mexico,Person
15,3,2qWK8K2Jfh67UqtwY8tCW6,YSY A,argentine trap,Argentina,Person
36,4,7eLcDZDYHXZCebtQmVFL25,Aitana,Unknown,Spain,Person

In [19]:
processed_data2[processed_data2['artist_count'].notna()]

,track_name,rank,date,artist_name,region,chart_type,position_change,weeks_on_chart,peak_position,previous_rank,...,spotify_track_id,duration,explicit,artist_id,genres,artist_count,release_date,track_id,country,type
0,#Ayfkm (Freestyle),200,2019-09-02,ECKO,Argentina,top200,NEW_ENTRY,1,200,NaN,...,4kTP0dh5AxnfpBLJINUqi7,115.017,True,2Jb9jVnCpWkXtoGznFJ6bF,"[""rkt"", ""turreo"", ""argentine trap"", ""trap""]",1.0,2019-08-30,NaN,NaN,NaN
1,#Natural,192,2017-12-11,Paty Cantú,Argentina,top200,MOVE_DOWN,14,52,NaN,...,3y7XIu4NloDcCSekDbCvf6,227.266,False,7K9rdoOJSiKXoVXPlSkGKT,"[""latin pop""]",2.0,2018-05-25,NaN,Mexico,Person
15,#Ysya2020 Vol. 1 - Una de Dos,167,2020-06-22,YSY A,Argentina,top200,NEW_ENTRY,4,99,NaN,...,7nFta4LZyL0MTDDqbjiQW2,116.599,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-06-22,NaN,Argentina,Person
19,#Ysya2020 Vol. 4 - Pasa Que Yo,117,2020-10-19,YSY A,Argentina,top200,NEW_ENTRY,4,93,NaN,...,7qf15ZBTnAyOZX5UIWrsKj,100.365,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-11,NaN,Argentina,Person
23,#Ysya2020 Vol. 5 - Silbando,76,2020-10-19,YSY A,Argentina,top200,NEW_ENTRY,5,68,NaN,...,6TI490muJ6RgFsYJc626BZ,119.438,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-18,NaN,Argentina,Person
28,#Ysya2020 Vol. 6 - Un Flow de Infarto,61,2020-10-26,YSY A,Argentina,top200,NEW_ENTRY,8,61,NaN,...,2byu6eeLWaBq88ZtusqU4V,142.376,False,2qWK8K2Jfh67UqtwY8tCW6,"[""argentine trap"", ""trap""]",2.0,2020-10-26,NaN,Argentina,Person
36,+ (MÁS),179,2020-01-13,Aitana,Argentina,top200,NEW_ENTRY,33,84,NaN,...,1MXzojJav1N4cREWTFm1iZ,219.354,False,7eLcDZDYHXZCebtQmVFL25,[],2.0,2020-12-10,NaN,Spain,Person

In [21]:
fact_chart = FactChart(processed_data2, dim_track, dim_artist, dim_date, dim_region)
fact_df = fact_chart.transform()

Kolumny po merge z dim_track: ['track_name_x', 'rank', 'date', 'artist_name_x', 'region', 'chart_type', 'position_change', 'weeks_on_chart', 'peak_position', 'previous_rank', 'source_type', 'spotify_track_id', 'duration', 'explicit', 'artist_id_x', 'genres', 'artist_count', 'release_date_x', 'track_id_x', 'country', 'type', 'track_name_y', 'artist_name_y', 'release_date_y', 'track_key', 'artist_id_y', 'artist_spotify_id', 'chart_date', 'date_key', 'region_key', 'region_name']